$text-color: #111213;
$accent-colour: #d17308;
$accent-active: #4e4a46;
$accent-text: #fff;
$accent-light: #e2f9d7;
$accent-error: #fad3d3;
$border-color: #d1d1d1;
$disabled-colour: #dbdbdb;
$disabled-text: #353535;

$standard-spacing: 1.5rem;
$standard-margin: 0 0 $standard-spacing 0;

$form-element-spacing: 0.5rem;
$form-field-spacing: 2.0rem;

@import 'components/general.scss';
@import 'components/typography.scss';
@import 'components/layout.scss';
@import 'components/lists.scss';
@import 'components/form.scss';
@import 'components/header.scss';

@import 'site/common.scss';
@import 'site/login.scss';
