{% extends "base.html" %}

{% block title %}Hackspace home{% endblock %}

{% block content %}
<h2>Enroll card</h2>
<form method="POST" action="{{url_for('enroll_card.index')}}">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
    <div class="field-elements">
        {% set kwargs = {"class": "field"} %}
        {% if field.errors %}
        {% set _ = kwargs.update({"class": "field field-error"})%}
        {% endif %}
        {{ field.label }}
        {{ field(**kwargs) | safe }}

        {% if field.errors %}
        <ul class="field-error-list">
        {% for error in field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}

        {% if field.description %}
        <p class="field-description">{{ field.description }}</p>
        {% endif %}
    </div>
    {% endfor %}
    <div class="two-column">
        {% if form.intermediate %}
        <input type="submit" value="Next" />
        {% else %}
        <input type="submit" value="Save" />
        {% endif %}
        <a href="{{ return_url }}" class="button button-outline" role="button">Cancel</a>
    </div>
</form>
{% endblock %}