<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Bristol Hackspace is a place to make things; a community of like-minded individuals centered around our space in St Philips." />
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"/>

    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

    {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
    {% endblock %}

    {% block logout_timer %}
    <script type="text/javascript">
    var idleTime = 0;
    document.addEventListener("DOMContentLoaded", function (event) {
        // Increment the idle time counter every minute.
        var idleInterval = setInterval(timerIncrement, 60000); // 1 minute

        // Zero the idle timer on mouse movement.
        document.onmousemove = function (e) {
            idleTime = 0;
        };
        document.onkeypress = function (e) {
            idleTime = 0;
        };
    });

    function timerIncrement() {
        idleTime = idleTime + 1;
        if (idleTime > 7) { // 8 minutes
            window.location.href = "/logout";
        }
    }
    </script>
    {% endblock %}
</head>

<body>
    <main class="wrapper">
        <nav class="header">
            <section class="container">
                <a href="{{ url_for('general.index') }}" class="header-link">
                    <img src="{{ url_for('static', filename='images/hackspacelogo300x300.png') }}" class="header-logo" alt="Hackspace logo"/>
                </a>
                <h1 class="header-title"><a href="{{ url_for('general.index') }}" class="header-link">Bristol Hackspace</a></h1>
            </section>
        </nav>
        <section class="container">
            {% if g.member %}
            <div style="text-align: center;">
                <a href="{{ url_for('general.logout')}}" class="button">Logged in as {{ g.member }}. Tap here to logout.</a>
            </div>
            {% endif %}
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
            <ul class="breadcrumbs">
                {% block breadcrumbs %}{% endblock %}
            </ul>
            {% block content %}{% endblock %}
        </section>

    </main>
</body>

</html>