<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Bristol Hackspace is a place to make things; a community of like-minded individuals centered around our space in St Philips." />
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"/>

    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

    {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
    {% endblock %}
</head>

<body>
    <main class="wrapper">
        <nav class="header">
            <section class="container">
                <a href="{{ url_for('general.index') }}" class="header-link">
                    <img src="{{ url_for('static', filename='images/hackspacelogo300x300.png') }}" class="header-logo" alt="Hackspace logo"/>
                </a>
                <h1 class="header-title"><a href="{{ url_for('general.index') }}" class="header-link">Bristol Hackspace</a></h1>
            </section>
        </nav>
        <section class="container">
            {% if session.logged_in_member %}
            <div style="text-align: center;">
                <div class="login-status">
                    <p>Logged in. Click <a href="{{ url_for('general.logout')}}">here</a> to logout.</p>
                </div>
            </div>
            {% endif %}
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </section>

    </main>
</body>

</html>