{% import 'utils.html' as utils with context %}
{% extends "base.html" %}

{% block title %}Hackspace home{% endblock %}


{% block content %}
<h2>Welcome to Bristol Hackspace member portal</h2>
<p>Select from one of the options below:</p>
<ul class="link-list">
    <li><a href="{{ url_for('label.index') }}" class="button">Create storage labels</a></li>
    <li><a href="{{ url_for('induction.index') }}"  class="button">Manage machine inductions</a></li>
    <li><a href="{{ url_for('profile.index') }}"  class="button">View and update your member profile</a></li>
</ul>
{% endblock %}