{% import 'utils.html' as utils with context %}
{% extends "base.html" %}

{% block title %}Hackspace home{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ url_for('general.index') }}">Home</a></li>
<li>Inductions</li>
{% endblock %}

{% block content %}
<h2>Inductions</h2>
<p>Note that not all machines have been migrated to the online system yet.</p>
<ul class="two-col-boxes">
    {% for machine in machines %}
    <li>
        <h3>{{ machine.name }}</h3>
        {% if machine.is_member_inducted(g.member) %}
        {% if machine.legacy_auth == LegacyMachineAuth.password %}
        <p>You are inducted. The password is "{{ machine.legacy_password }}".</p>
        {% elif machine.legacy_auth == LegacyMachineAuth.padlock %}
        <p>You are inducted. The padlock code is {{ machine.legacy_password }}.</p>
        {% else %}
        <p>You are inducted on this machine.</p>
        {% endif %}
        {% else %}
        <p>You are not yet inducted on this machine.</p>
        {% endif %}
        <a href="{{ url_for('induction.machine', machine_id=machine.id) }}" class="button">View/take inductions</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}