.login-status {
    border: 0.1rem solid #b4b4b4;
    border-radius: 0.5rem;
    display: inline-block;
    margin: $standard-margin;

    p {
        margin: 0.5rem;
    }
}

.badge-valid {
    border-radius: 0.5rem;
    background-color: $badge-valid;
    padding: 0.5rem;
}

.badge-invalid {
    border-radius: 0.5rem;
    background-color: $badge-invalid;
    padding: 0.5rem;
}