*, *:after, *:before {
  box-sizing: inherit; }

  html {
    font-size: 62.5%;
    box-sizing: border-box; }

    body {
      font-size: 1.6em;
      line-height: 1.6;
      font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
      color: #566069;
      margin: 0; }

      .container {
        margin: 0 auto;
        padding: 0 2rem;
        max-width: 100rem; }

        .container-narrow {
          max-width: 80rem; }

          .full-width {
            width: 100%; }

            dl, ol, ul {
              list-style: none;
              margin: 0 0 1.5rem 0;
              padding-left: 0; }

              ul {
                list-style: circle inside; }

                ol {
                  list-style: decimal inside; }

                  dd, dt, li {
                    margin-bottom: 1rem; }

                    .header {
                      background: #ebebeb;
                      border-bottom: 0.1rem solid #3f3f3f;
                      display: block;
                      max-width: 100%;
                      width: 100%;
                      margin: 0 0 1.5rem 0; }
                      .header .container {
                        padding-bottom: 0;
                        padding-top: 0;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        text-align: center; }
                        .header ul {
                          list-style: none;
                          margin: 0;
                          padding: 0;
                          display: flex;
                          flex-wrap: wrap; }
                          .header li {
                            padding: 1rem;
                            margin: 0; }

.header-logo {
  height: 6rem;
  padding: 1rem;
  margin: 0; }

  .header-title {
    margin-bottom: 0;
    font-size: 4rem;
    line-height: 6rem; }

    .flashes {
      list-style: none; }
      .flashes li {
        background-color: #e2f9d7;
        border-radius: 0.5rem;
        border: 0.1rem solid #d1d1d1;
        padding: 0.5rem; }

a {
  color: #d17308;
  text-decoration: none; }
  a :hover {
    color: #4e4a46; }

p {
  margin: 0 0 1.5rem 0; }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin: 0 0 1.5rem 0; }

    h1 {
      font-size: 4.6rem; }

      h2 {
        font-size: 3.6rem; }

        h3 {
          font-size: 2.8rem; }

          h4 {
            font-size: 2.2rem; }

            h5 {
              font-size: 1.8rem; }

              h6 {
                font-size: 1.6rem; }

                blockquote, pre {
                  margin: 0 0 1.5rem 0; }

                  blockquote {
                    border-left: 0.3rem solid #d1d1d1;
                    padding: 1rem 1.5rem; }

                    label, legend {
                      display: block;
                      font-size: 1.6rem;
                      font-weight: 700;
                      margin-bottom: 0.5rem; }

                      input, textarea, select, button, .button {
                        width: 100%;
                        border: 0.1rem solid #d1d1d1;
                        border-radius: 0.5rem;
                        padding: 0.6rem;
                        margin-bottom: 0.5rem;
                        background-color: transparent; }
                        input:focus, textarea:focus, select:focus, button:focus, .button:focus {
                          border-color: #d17308;
                          outline: 0; }

input[type=checkbox], input[type=radio] {
  width: auto;
  display: inline-block;
  margin-right: 0.5rem; }

  .button, button, input[type="button"], input[type="reset"], input[type="submit"] {
    background-color: #d17308;
    border-color: #d17308;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: 0.1rem;
    padding: 0 2rem;
    text-transform: uppercase;
    text-align: center; }
    .button:focus, .button:hover, button:focus, button:hover,
    input[type="button"]:focus, input[type="button"]:hover, input[type="reset"]:focus,
    input[type="reset"]:hover, input[type="submit"]:focus, input[type="submit"]:hover {
      background-color: #4e4a46;
      border-color: #4e4a46;
      color: #fff; }
      .button[disabled], button[disabled], input[type="button"][disabled],
      input[type="reset"][disabled], input[type="submit"][disabled] {
        cursor: default;
        opacity: 0.5; }
        .button[disabled]:focus, .button[disabled]:hover, button[disabled]:focus,
        button[disabled]:hover, input[type="button"][disabled]:focus,
        input[type="button"][disabled]:hover, input[type="reset"][disabled]:focus,
        input[type="reset"][disabled]:hover, input[type="submit"][disabled]:focus,
        input[type="submit"][disabled]:hover {
          background-color: #d17308;
          border-color: #d17308; }
    .button.button-outline, button.button-outline, input[type="button"].button-outline,
    input[type="reset"].button-outline, input[type="submit"].button-outline {
      background-color: transparent;
      color: #d17308; }
      .button.button-outline:focus, .button.button-outline:hover,
      button.button-outline:focus, button.button-outline:hover,
      input[type="button"].button-outline:focus,
      input[type="button"].button-outline:hover,
      input[type="reset"].button-outline:focus, input[type="reset"].button-outline:hover,
      input[type="submit"].button-outline:focus,
      input[type="submit"].button-outline:hover {
        color: #4e4a46; }
        .button.button-outline[disabled]:focus, .button.button-outline[disabled]:hover,
        button.button-outline[disabled]:focus, button.button-outline[disabled]:hover,
        input[type="button"].button-outline[disabled]:focus,
        input[type="button"].button-outline[disabled]:hover,
        input[type="reset"].button-outline[disabled]:focus,
        input[type="reset"].button-outline[disabled]:hover,
        input[type="submit"].button-outline[disabled]:focus,
        input[type="submit"].button-outline[disabled]:hover {
          border-color: inherit;
          color: #d17308; }

.two-column {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  row-gap: 1rem; }

  @media (min-width:600px) {
    .two-column {
      grid-template-columns: 1fr 1fr;   }
}

.field-elements {
  margin-bottom: 2rem; }

  ul.field {
    list-style: none;
    margin-bottom: 0.5rem; }
    ul.field li {
      margin-bottom: 0.5rem; }
      ul.field li label {
        font-weight: normal;
        display: inline-block; }

.field-error-list {
  margin-bottom: 0.5rem; }

  .field-error {
    border-color: #f75151;
    border-width: 0.2rem; }

    .field-description {
      margin-bottom: 0.5rem; }

      .login-options {
        display: grid;
        grid-template-columns: 1fr;
        list-style: none;
        column-gap: 1rem;
        row-gap: 1rem; }
        .login-options li {
          border: 0.1rem solid #b4b4b4;
          border-radius: 0.5rem;
          display: block;
          margin: 0;
          padding: 0.5rem; }

@media (min-width:600px) {
  .login-options {
    grid-template-columns: 1fr 1fr;   }
}
